
/* header {
  width: 100%;
  height: 150px;
  padding: 20px;
  display:flex;
  position:sticky;
  flex-flow:row wrap;
  align-content:flex-start;
  justify-content: space-between;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #2A607C;
  color: #FFFFFF;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

a {
    color: #FFFFFF;
    text-decoration: underline;
    padding: 10px;
}

main {
  position: absolute;
  left: 0;
  right: 0%;
  top: 6em;
  bottom: 0;
  background: #85acc0;
}

.contact-me-content {
  box-sizing: border-box;
  position: absolute;
  left: 15em;
  right: 0px;
  top: 87.3%;
  bottom: 0em;
  background: #D9D9D9;
  border: 1px solid #FF0000;
}

.my-works-content {
  box-sizing: border-box;
  position: relative;
  left: 15em;
  height: 37em;
  background: #D9D9D9;
  border: 1px solid #FF0000;
}

.about-me-content {
  box-sizing: border-box;
  position: relative;
  left: 15em;
  height: 15em;
}

aside {
  padding: 15px;
  bottom: 0;
  width: 15em;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  position: absolute;
  top: 96px;
}

img {
  height: 4em;
  width: 4em;
  margin-left: 1px;
  overflow: visible;
 }

 .about-me {
    position: relative;
    top: 3em;
    display: flex;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .my-works {
    position: relative;
    top: 8em;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

 .contact-me {
    position: relative;
    flex-direction: column;
    display: flex;
    top: 34em;
    text-align: center;
    flex-wrap: wrap;
 } */

 * {
  color: #000000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'courier new', monospace;
}

body {
  background-image: url("./images/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-color: #1f6c0f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 1px 8px #ed340a;
  padding: 20px;
}

header h1 {
  margin-right: auto;
  font-size: 2em;
  color: #ff4e08;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #ff4e08; 
}

nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}
p {
  font-size: 16px;
  display: block;
}
.content {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.about-me-content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #0072BB;
  color: #FFFFFF;
}
.my-works-content {
  margin-bottom: 20px;
  padding: 50px;
  display: inline-flex;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #0072BB;
  color: #FFFFFF;
  flex-wrap: wrap;
}
.contact-me-content {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: #0072BB;
  color: #FFFFFF;
}
.about-me-content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.my-works-content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
.contact-me-content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
footer h2 {
  font-size: 20px;
}

img {
  height: 4em;
  width: 4em;
  margin-left: 10px;
  overflow: visible;
 }

 @media screen and (max-width:700px) {
  section {
      flex-direction: column;
  }
}

#prof-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%; 
  object-fit: cover;
  margin: 10px;
  box-shadow: 0 1px 8px #ff4e08;
}