* {
  color: #000000;
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'courier new', monospace;
}

body {
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-color: #1f6c0f;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 1px 8px #ed340a;
  padding: 20px;
}

header h1 {
  margin-right: auto;
  font-size: 2em;
  color: #ff4e08;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}

header a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header a:hover {
  color: #ff4e08; 
}

nav {
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
}

p {
  font-size: 16px;
  display: block;
  align-self:center;
}

.about-me-content p {
  font-size: 20px;
  color: white;
  display: block;
  align-self: center;
  background: border-box;
  background-color: #267300;
  border-radius: 3%;
}

main {
  background-color: #3e8bac;
  padding: 10px;
  border: 1px solid rgb(255, 66, 3);
}

main h2 {
  font-size: 2em;
  margin: 10px;
  padding: 10px;
  text-align: center;
  display:flex;
}

.about-me-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.css-snippet-page {
  min-width: 75%;
  flex-basis: 400px;
  flex-grow: 1px;
  display: flex;
  position: relative;
}

.my-works-content div {
  flex-basis: 350px;
  flex-grow: 1;
}

.placeholder:hover {
  opacity: .5;
}

.placeholder p {
  background: #267300;
  padding: 70px 0;
  text-align: center;
  width: 100%;
  height: 200px;
}

.my-works-content .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.my-works-content div {
  flex-basis: 350px;
  min-width: 50%
}

 #snippet {
  border: 5px solid #fa450e;
  height: auto;
  width: 100%;
}

 @media screen and (max-width:700px) {
  section {
      flex-direction: column;
  }
}

#prof-pic {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  object-fit: cover;
  margin: 15px;
  box-shadow: 0 1px 8px #ff4e08;
}

#contact-me li {
  display: inline-block;
  padding: 20px;
  list-style: none;
}

#contact-me li a:hover {
  color: #ff3c00;
  transition: all 0.3s ease 0s; 
}

.contact-me-content h2 {
  display:flex;
  flex-direction: column;
}

.contact-me-content ul {
  display:flex;
  justify-content: center;
  flex-direction: row;
}